.property-card-grid {
  grid-template-columns: 1fr;
}

@media (min-width: 710px) {
  .property-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .property-card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .property-card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1536px) {
  .property-card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
} 